body {
    background-image: linear-gradient(to right top, #37d521, #30cd1c, #28c516, #1fbd10, #15b509, #0fae06, #07a703, #00a000, #009800, #009000, #008900, #008100);
    font-family: 'Open Sans', sans-serif;
}

.caixa-central {
    margin-top: 40px;
    margin-bottom: 40px;
}

.tamanho-inicial {
    height: 615px;
}

.botao {
    width: 100%; 
    height: 38px;
    color: #fff;
    background: #1bcf07;
    border: none;
}

button:hover { background: gold; }

.tamanhofonte {
    font-size: 14px;
}

.tamanhoimagem {
    width: 150px;
    height: 150px;
}

.fora p{
    position: absolute;
    bottom: 0;
}