body {
    background: linear-gradient(to right, rgb(102, 125, 182), rgb(0, 130, 200), rgb(0, 130, 200), rgb(102, 125, 182));
    font-family: 'Open Sans', sans-serif;
}

footer::after {
    content: "® CopyRight https://arthurestevan.github.io/";
}

.botao {
    width: 100%; 
    height: 38px;
    color: #fff;
    background: #1890ff;
    border: none;
}

button:hover { background: gold; }

.caixa-central {
    margin-top: 80px;
    margin-bottom: 80px;
}

.tamanho-inicial {
    width: 490px;
}

.tamanhofonte {
    font-size: 14px;
}